@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  width: 100%;
  min-height: 100vh;
  background: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(8px);
  transform: scale(1.05);
  z-index: -1;
}

.card {
  background-color: rgba(216, 229, 229, 0.9);
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  width: 550px;
  margin: 130px auto;
  padding: 40px;
  color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s, transform 0.3s;
  z-index: 0;
}

.card h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 8px rgba(10, 9, 9, 0.547);
}
.card h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.5px;
  margin-top: -10px;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

p,
label {
  font-size: 15px;
  color: #2b2b2b;
  font-weight: 400;
 font-family: "Open Sans", sans-serif;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

button {
  background-color: rgba(255, 255, 255, 0.7);
 font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  border-width: 0.5px;
  transition: all 0.6s ease;
}

button:hover {
  background-color: rgba(207, 204, 204, 0.7);
  transform: scale(1.05);
}

input[type="radio"] {
  accent-color: #c21807;
  cursor: pointer;
}

header {
  background-color: #1e2a38;
  color: white;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.logo-titulo {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el logo y el texto */
  margin-left: -35px;
}

.logo-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.logo-btn img {
  height: 50px;
  width: auto;
  border-radius: 5px;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
 font-family: "Open Sans", sans-serif;
}

.img {
  filter: blur(5px);
}

.back-btn {
  position: fixed;
  top: 90px;
  left: 25px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease, transform 0.3s ease;
}

.back-btn:hover {
  background: rgba(240, 240, 240, 0.9);
  cursor: pointer;
  transform: scale(1.1);
}
